<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="access/image/—Pngtree—music logo_8736577.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="access/css/admin.css">
    <link rel="stylesheet" href="access/css/quanlynghesi.css">
    <link rel="stylesheet" href="access/css/modal.css">
    <script src="access/js/angular.min.js"></script>
    <script src="access/js/global.js"></script>
</head>
<body ng-app="NgheNhacTrucTuyen"  ng-controller="AdminCtrl">
    <div id="header">
        <li onclick="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </li>
    </div>
    <nav id="sidebar" class="scroll">
        <div class="logo">
            <img src="D:\Phát triển Dịch Vụ\BTL\API.NgheNhacTrucTuyen\FILE\IMG\—Pngtree—music logo_8736577.png" alt="">
            <h3>ADMIN</h3>
            <span>Chào mừng bạn trở lại</span>
        </div>
        <hr>
        <ul class="menu">
            <li onclick="window.location.href='./quanlynhac.html'">
                <i class="fa-solid fa-music"></i>
                <span>Quản lý nhạc</span>
            </li>
            <li onclick="window.location.href='./quanlyalbum.html'">
                <i class="fa-solid fa-record-vinyl"></i>
                <span>Quản lý album</span>
            </li>
            <li style="background-color: #8a4de6; color: #111d3d;" onclick="window.location.href='./quanlynghesi.html'">
                <i class="fa-solid fa-address-card"></i>
                <span style="color: #111d3d;">Quản lý nghệ sĩ</span>
            </li>
            <li onclick="window.location.href='./quanlytheloai.html'">
                <i class="fa-solid fa-palette"></i>
                <span>Quản lý thể loại nhạc</span>
            </li>
            <li>
                <i class="fa-brands fa-playstation"></i>
                <span>Quản lý danh sách phát</span>
            </li>
            <li>
                <i class="fa-solid fa-users"></i>
                <span>Quản lý người dùng</span>
            </li>
        </ul>
    </nav>
    <div id="main">
        <div class="top">
            <h3>Quản lý nghệ sĩ</h3>
            <h3 id="h3"></h3>
        </div>
        <div class="container">
            <div class="button">
                <button onclick="openFormAddMusic()">
                    <i class="fa-solid fa-plus"></i>
                    <span>Thêm nghệ sĩ mới</span>
                </button>
                <button>
                    <i class="fa-solid fa-floppy-disk"></i>
                    <span>Cập nhật nghệ sĩ</span>
                </button>
                <button>
                    <i class="fa-solid fa-trash-can"></i>
                    <span>Xóa tất cả</span>
                </button>
            </div>
            <hr>
            <div class="table">
                <div class="tools">
                    <label>
                        Hiện
                        <select name="" id="pageSizeNS" onchange="handleSelectChangeSizeNS()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        danh mục
                    </label>
                    <label>
                        Tìm kiếm: 
                        <input type="search">
                    </label>
                </div>
                <table  cellspacing = 0; border="1" id="mytable">
                    <thead>
                        <tr>
                            <th>
                                <input class="checkbox" type="checkbox">
                            </th>
                            <th onclick="sortTable(1)">Tên nghệ sĩ</th>
                            <th>Ảnh</th>
                            <th onclick="sortTable(3)">Số lượng bài hát</th>
                            <th onclick="sortTable(4)">Trạng thái</th>
                            <th>Mô tả</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr ng-repeat="ns in listNgheSiSearch">
                            <td>
                                <input class="checkbox" type="checkbox">
                            </td>
                            <td>{{ns.tenNgheSi}}</td>
                            <td>
                                <label>
                                    <img accept="image/*" class="img" src="{{ns.anhDaiDien}}" alt="">
                                    <input class="file_img" type="file">
                                </label>
                            </td>
                            <td> 
                                <input type="number" value="{{ns.soLuongBaiHat}}">                                                                                                                                              
                            </td>
                            <td>
                                <select>
                                    <option>● Đang hoạt động</option>
                                    <option>● Nhưng hoạt động</option>
                                </select>
                            </td>
                            <td>
                                <textarea name="" id="" cols="40" rows="5">{{ns.moTa}}</textarea>
                            </td>
                            <td>
                                <i ng-click="LoadDetailNgheSi(ns.idNgheSi)" onclick="openFormUpdateMusic()" class="fa-solid fa-pen-to-square"></i>
                                <i ng-click="LoadDetailNgheSi(ns.idNgheSi)" onclick="openFormDeleteMusic()" class="fa-solid fa-delete-left"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="page">
                    <label>
                        Trang
                        <select name="" id="pageIndexNS" onchange="handleSelectChangeIndexNS()">
                            <option ng-repeat="i in listIndexNS" value="{{i}}">
                                {{i}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <div id="modal_create">
        <div class="container">
            <div class="title">
                <span>Thêm nghệ sĩ mới</span>
            </div>
            <hr>
            <div class="table_modal">
                <table>
                    <tr>
                        <th>Tên nghệ sĩ</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="tenNgheSi">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ảnh</th>
                        <th>Mô tả</th>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input class="file_img" type="file"/>
                                <img accept="image/*" class="img" src="" alt="">
                            </label>
                        </td>
                        <td>
                            <textarea name="" id="moTa" cols="30" rows="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="AddNgheSi()" type="button">
                                <i class="fa-solid fa-plus"></i>
                                <span>Thêm</span>
                            </button>                            
                            <button onclick="closeFormAddMusic()">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="modal_update">
        <div class="container">
            <div class="title">
                <span>Cập nhật nghệ sĩ</span>
            </div>
            <hr>
            <div class="table_modal">
                <table ng-repeat="ns in NgheSiByID">
                    <tr>
                        <th>Tên nghệ sĩ</th>
                        <th>Số lượng bài hát</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="tenNgheSiUpdate" value="{{ns.tenNgheSi}}">
                        </td>
                        <td>
                            <input type="number" value="{{ns.soLuongBaiHat}}" id="soLuongBaiHat">
                        </td>
                    </tr>
                    <tr>
                        <th>Ảnh</th>
                        <th>Mô tả</th>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input class="file_img" type="file"/>
                                <img id="img" accept="image/*" class="img" src="{{ns.anhDaiDien}}" alt="">
                            </label>
                        </td>
                        <td>
                            <textarea name="" id="textarea" cols="40" rows="10" data-idnghesi="{{ns.idNgheSi}}">{{ns.moTa}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="UpdateNgheSi()" type="button">
                                <i class="fa-solid fa-plus"></i>
                                <span>Cập nhật</span>
                            </button>                            
                            <button onclick="closeFormUpdateMusic()">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="modal_delete">
        <div class="container" style="width: 400px;">
            <div class="title">
                <span>Xóa nghệ sĩ</span>
            </div>
            <hr>
            <div class="table_modal">
                <table style="padding: 0;" ng-repeat="ns in NgheSiByID">
                    <tr>
                        <th style="text-align: center;">Bạn có chắc muốn xóa nghệ sĩ?</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">{{ns.tenNgheSi}}</th>
                    </tr>
                    <tr>
                        <td style="display: flex; justify-content: center;">
                            <button ng-click="DeleteNgheSiByID(ns.idNgheSi)" type="button">
                                <i class="fa-solid fa-trash-can"></i>
                                <span>Xóa</span>
                            </button>                            
                            <button onclick="closeForDeleteMusic()">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="access/js/admin.js"></script>
    <script src="access/js/quanly.js"></script>
</body>
</html>
<script>
    var user = JSON.parse(localStorage.getItem('Token'));
    if (!user) {
        window.location.href = "dangnhap.html";
    }
</script>