<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="access/css/admin.css">
    <link rel="stylesheet" href="access/css/quanlynghesi.css">
    <link rel="stylesheet" href="access/css/modalalbum.css">
    <script src="access/js/angular.min.js"></script>
    <script src="access/js/global.js"></script>
</head>
<body ng-app="NgheNhacTrucTuyen"  ng-controller="AdminCtrl">
    <div id="header">
        <li onclick="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </li>
    </div>
    <nav id="sidebar" class="scroll">
        <div class="logo">
            <img src="D:\Phát triển Dịch Vụ\BTL\API.NgheNhacTrucTuyen\FILE\IMG\—Pngtree—music logo_8736577.png" alt="">
            <h3>ADMIN</h3>
            <span>Chào mừng bạn trở lại</span>
        </div>
        <hr>
        <ul class="menu">
            <li onclick="window.location.href='./quanlynhac.html'">
                <i class="fa-solid fa-music"></i>
                <span>Quản lý nhạc</span>
            </li>
            <li style="background-color: #8a4de6; color: #111d3d;" onclick="window.location.href='./quanlyalbum.html'">
                <i class="fa-solid fa-record-vinyl"></i>
                <span style="color: #111d3d;">Quản lý album</span>
            </li>
            <li onclick="window.location.href='./quanlynghesi.html'">
                <i class="fa-solid fa-address-card"></i>
                <span>Quản lý nghệ sĩ</span>
            </li>
            <li onclick="window.location.href='./quanlytheloai.html'">
                <i class="fa-solid fa-palette"></i>
                <span>Quản lý thể loại nhạc</span>
            </li>
            <li>
                <i class="fa-brands fa-playstation"></i>
                <span>Quản lý danh sách phát</span>
            </li>
            <li>
                <i class="fa-solid fa-users"></i>
                <span>Quản lý người dùng</span>
            </li>
        </ul>
    </nav>
    <div id="main">
        <div class="top">
            <h3>Quản lý album</h3>
            <h3 id="h3"></h3>
        </div>
        <div class="container">
            <div class="button">
                <button onclick="openFormAddMusic()">
                    <i class="fa-solid fa-plus"></i>
                    <span>Thêm album mới</span>
                </button>
                <button>
                    <i class="fa-solid fa-floppy-disk"></i>
                    <span>Cập nhật album</span>
                </button>
                <button>
                    <i class="fa-solid fa-trash-can"></i>
                    <span>Xóa tất cả</span>
                </button>
            </div>
            <hr>
            <div class="table">
                <div class="tools">
                    <label>
                        Hiện
                        <select name="" id="pageSizeA" onchange="handleSelectChangeSizeA()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        danh mục
                    </label>
                    <label>
                        Tìm kiếm: 
                        <input type="search">
                    </label>
                </div>
                <table cellspacing = 0; border="1" id="mytable">
                    <thead>
                        <tr>
                            <th>
                                <input class="checkbox" type="checkbox">
                            </th>
                            <th onclick="sortTable(1)">Tên album</th>
                            <th>Ảnh</th>
                            <th onclick="sortTable(3)">Nghệ sĩ</th>
                            <th onclick="sortTable(4)">Số lượng bài hát</th>
                            <th onclick="sortTable(5)">Mô tả</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr ng-repeat="a in listAlbum">
                            <td>
                                <input class="checkbox" type="checkbox">
                            </td>
                            <td>{{a.tenAlbum}}</td>
                            <td>
                                <label>
                                    <img accept="image/*" class="img" src="{{a.anhDaiDien}}" alt="">
                                    <input class="file_img" type="file">
                                </label>
                            </td>
                            <td ng-repeat="ns in listNgheSi" ng-show="ns.idNgheSi === a.idNgheSi">
                                {{ns.tenNgheSi}}                                
                            </td>
                            <td> 
                                <input type="number" value="{{a.soLuongBaiHat}}">                                                                                                                                              
                            </td>
                            <td>
                                <textarea name="" id="" cols="40" rows="5">{{a.moTa}}</textarea>
                            </td>
                            <td>
                                <i ng-click="LoadDetailAlbum(a.idAlbum)" onclick="openFormUpdateMusic()" class="fa-solid fa-pen-to-square"></i>
                                <i ng-click="LoadDetailAlbum(a.idAlbum)" onclick="openFormDeleteMusic()" class="fa-solid fa-delete-left"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="page">
                    <label>
                        Trang
                        <select name="" id="pageIndexA" onchange="handleSelectChangeIndexA()">
                            <option ng-repeat="i in listIndexA" value="{{i}}">
                                {{i}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <div id="modal_create">
        <div class="container">
            <div class="title">
                <span>Thêm album mới</span>
            </div>
            <hr>
            <div class="table_modal">
                <table>
                    <tr>
                        <th>Tên album</th>
                        <th>Nghệ sĩ</th>
                        <th>Mô tả</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="tenAlbum">
                        </td>
                        <td>
                            <select id="ngheSi" onchange="handleSelectChangeTenNgheSi()">
                                <option disabled selected value="">Nghệ sĩ</option>
                                <option ng-repeat="ns in listNgheSi" value="{{ns.idNgheSi}}">{{ns.tenNgheSi}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="moTa">
                        </td>
                    </tr>
                    <tr>
                        <th>Ảnh</th>
                        <th colspan="2">Bài hát</th>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input class="file_img" type="file"/>
                                <img accept="image/*" class="img" src="" alt="">
                            </label>
                        </td>
                        <td colspan="2">
                            <div class="table_header">
                                <table id="table_create" cellspacing = 0; border="1">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input class="checkbox" type="checkbox">
                                            </th>
                                            <th>Tên bài nhạc</th>
                                            <th>Ảnh</th>
                                            <th>Thể loại</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table_content">
                                <table id="table_create" cellspacing = 0; border="1">
                                    <tbody>
                                        <tr ng-repeat="n in listNhacByIDNgheSi">
                                            <td>
                                                <input class="checkbox" type="checkbox" value="{{n.idNhac}}">
                                            </td>
                                            <td>{{n.tenNhac}}</td>
                                            <td>
                                                <label>
                                                    <img accept="image/*" class="img" src="{{n.img}}" alt="">
                                                </label>
                                            </td>
                                            <td ng-repeat="tl in listTheLoai" ng-show="tl.idTheLoai === n.idTheLoai"> 
                                                {{tl.tenTheLoai}}                                                                                                                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="AddAlbum()" type="button">
                                <i class="fa-solid fa-plus"></i>
                                <span>Thêm</span>
                            </button>         
                            <button onclick="closeFormAddMusic()">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy</span>
                            </button>
                        </td>      
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="modal_update">
        <div class="container">
            <div class="title">
                <span>Cập nhật album</span>
            </div>
            <hr>
            <div class="table_modal" ng-repeat="a in AlbumByID">
                <table>
                    <tr>
                        <th style="width: 250px;">Tên album</th>
                        <th>Nghệ sĩ</th>
                        <th>Mô tả</th>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <input type="text" id="tenAlbumUpdate" value="{{a.tenAlbum}}">
                        </td>
                        <td data-idNgheSi="{{a.idNgheSi}}" id="idNgheSi" ng-repeat="ns in listNgheSi" ng-show="ns.idNgheSi === a.idNgheSi">
                            {{ns.tenNgheSi}}                                
                        </td>
                        <td>
                            <input type="text" id="moTaUpdate" value="{{a.moTa}}" data-idAlbum="{{a.idAlbum}}">
                        </td>
                    </tr>
                    <tr>
                        <th>Ảnh</th>
                        <th colspan="2">Bài hát</th>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input class="file_img" type="file"/>
                                <img accept="image/*" class="img" id="img" src="{{a.anhDaiDien}}" alt="">
                            </label>
                        </td>
                        <td colspan="2">
                            <div class="table_header">
                                <table id="table_create" cellspacing = 0; border="1">
                                    <thead>
                                        <tr>
                                            <th>Tên bài nhạc</th>
                                            <th>Ảnh</th>
                                            <th>Thể loại</th>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table_content">
                                <table id="table_create" cellspacing = 0; border="1">
                                    <tbody>
                                        <tr ng-repeat="n in listNhacTrongAlbum">
                                            <td>{{n.tenNhac}}</td>
                                            <td>
                                                <label>
                                                    <img accept="image/*" class="img" src="{{n.img}}" alt="">
                                                </label>
                                            </td>
                                            <td style="width: 130px;" ng-repeat="tl in listTheLoai" ng-show="tl.idTheLoai === n.idTheLoai"> 
                                                {{tl.tenTheLoai}}
                                            </td>
                                            <td>
                                                <i ng-click="DeleteNhacKhoiAlbum(n.idNhac,a.idAlbum,n.tenNhac,n.img,n.idTheLoai)" class="fa-solid fa-delete-left"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button ng-click="UpdateAlbum()" type="button">
                                <i class="fa-solid fa-plus"></i>
                                <span>Cập nhật</span>
                            </button>         
                            <button onclick="closeFormUpdateMusic()">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy</span>
                            </button>
                            <button style="margin-left: 120px;" onclick="openFormModalAddMusic()">
                                <i class="fa-solid fa-plus"></i>
                                <span>Thêm nhạc</span>
                            </button>
                        </td>      
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="modal_addmussic">
        <div class="container">
            <div class="title">
                <span>Thêm nhạc vào album</span>
            </div>
            <hr>
            <div class="table_modal">
                <div class="table_header">
                    <table id="table_create" cellspacing = 0; border="1">
                        <thead>
                            <tr>
                                <th>Tên bài nhạc</th>
                                <th>Ảnh</th>
                                <th>Thể loại</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table_content">
                    <table id="table_create" cellspacing = 0; border="1">
                        <tbody>
                            <tr ng-repeat="n in listNhacKhongCoTrongAlbum">
                                <td>{{n.tenNhac}}</td>
                                <td>
                                    <label>
                                        <img accept="image/*" class="img" src="{{n.img}}" alt="">
                                    </label>
                                </td>
                                <td style="width: 150px;" ng-repeat="tl in listTheLoai" ng-show="tl.idTheLoai === n.idTheLoai"> 
                                    {{tl.tenTheLoai}}
                                </td>
                                <td>
                                    <i ng-click="AddNhacVaoAlbum(n.idNhac,n.tenNhac,n.idTheLoai,n.img)" class="fa-solid fa-plus"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex;justify-content: center;width: 100%;">    
                    <button onclick="closeFormModalAddMusic()" style="color: rgb(0, 0, 0); background-color: rgba(249, 50, 50, 0.793);">
                        <i class="fa-solid fa-xmark"></i>
                        <span style="color: rgb(0, 0, 0);">Đóng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_delete">
        <div class="container" style="width: 400px;">
            <div class="title">
                <span>Xóa Album</span>
            </div>
            <hr>
            <div class="table_modal">
                <table style="padding: 0;" ng-repeat="a in AlbumByID">
                    <tr>
                        <th style="text-align: center;">Bạn có chắc muốn xóa album?</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">{{a.tenAlbum}}</th>
                    </tr>
                    <tr>
                        <td style="display: flex; justify-content: center;">
                            <button ng-click="DeleteAlbumByID(a.idAlbum)" type="button">
                                <i class="fa-solid fa-trash-can"></i>
                                <span>Xóa</span>
                            </button>                            
                            <button onclick="closeForDeleteMusic()">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="access/js/admin.js"></script>
    <script src="access/js/quanly.js"></script>
</body>
</html>
<script>
    var user = JSON.parse(localStorage.getItem('Token'));
    if (!user) {
        window.location.href = "dangnhap.html";
    }
</script>